/* GLOBAL */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #2b004b; /* hex: 0-F */
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-image: url("Images/planofundo.png");
    background-repeat: no-repeat;
  }

  #background{
    background-color: #ffffff;
    width: auto;
    height: auto;
    padding: 0px 15px;
    margin: 15px 0px;
  }
  
  ul {
    list-style: none;
  }
  
  /* FONTS */
  h1, h2, h3, .price {
    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
    color: #6633CC;
  }
  
  /* HEADER */
  header {
    padding:  32px 0 ;
    text-align: center;
  }
  
  header,
  section {
    max-width: 300px;
    margin: 0 auto;
  }
  
  header h1 {
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
  }
  
  img {
    width: 300px;
  }
  
  header p {
    font-size: 14px;
    line-height: 16px;
  
    color: #6633CC;
  }
  
  /* SECTION */
  section {
    margin-bottom: 24px;
  }
  
  section h2 {
    background-color: #00d463;
    padding: 8px 16px;
    text-align: center;
  
    margin-bottom: 24px;
    font-size: 18px;
  }
  
  /* LISTA */
  ul li {
    margin-bottom: 16px;
    display: flex;
  }
  
  li .details {
    max-width: 240px;
  }
  
  .details h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
  }
  
  .details p {
    color: #8e6bd3;
    font-size: 14px;
    line-height: 21px;
  }